* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

.header__container {
  width: 1140px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container-title {
  width: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__title-detail {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 700;
}

.header__logo-image {
  width: 35px;
}

.header__menu {
  width: 451px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.header__menu-link {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.header__links-button {
  width: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-button-in {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.header__link-button-up {
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  border: 1px solid #f53855;
  text-align: center;
  color: #f53855;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.hero__container {
  margin-top: 111px;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  width: 48%;
  padding-bottom: 100px;
}

.hero__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 50px;
  font-weight: 500;
}

.hero__title-detail {
  color: #f53838;
  font-family: "Rubik";
  font-size: 50px;
  font-weight: 700;
}

.hero__title-description {
  margin-top: 20px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero__title-description-detail {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.hero__content-button-link {
  width: 250px;
  display: block;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  background-color: #f53838;
  color: #fff;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 30px 50px rgba(245, 56, 56, 0.35);
}

.hero__image {
  width: 50%;
}

.topics__container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-top: 123px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 30px 50px 0px rgba(13, 16, 37, 0.08);
}

.topics__container-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.topics__image-detail {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffecec;
}

.topics__image {
  width: 24px;
}

.topics__container-title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 700;
}

.topics__container-title-description {
  padding-top: 5px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 400;
}

.topics__line {
  width: 1px;
  height: 125px;
  background-color: #eeeff2;
}

.feature__header {
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  width: 1087px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.feature__image {
  width: 46%;
}

.feature__content {
  width: 40%;
}

.feature__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
}

.feature__title-description {
  margin-top: 20px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.feature__list {
  width: 214px;
  display: flex;
  justify-content: space-between;
}

.feature__list-image {
  width: 24px;
}

.feture__list-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
}

.plans__card-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.plans__container {
  margin-top: 96px;
  padding-top: 85px;
  padding-bottom: 85px;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.plans__title {
  text-align: center;
  color: #0b132a;
  text-align: center;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
}

.plans__title-description {
  margin-top: 20px;
  color: #4f5665;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.plans__card {
  width: 330px;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background-color: #fff;
}

.plans__card-image {
  width: 144px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plans__card-title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #0b132a;
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
}

.plan__cards-text {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
}

.plan__cards-image-check {
  width: 24px;
}

.plan__type {
  margin-top: 130px;
  text-align: center;
  color: #0b132a;
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 500;
}

.plan__type-detail {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 400;
}

.button-select {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 177.876px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f53838;
  text-align: center;
  line-height: 45px;
  color: #f53838;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
}

.location__container {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1060px;
}

.location__title {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
}

.location__description {
  margin-top: 20px;
  color: #4f5665;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.location__description-detail {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.location__image {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 1060px;
}

.sponsored__container {
  width: 1135px;
  margin-top: 141px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsored__image {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.testimonials__container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.testimonial__head {
  margin-top: 170px;
  width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__title {
  color: #0b132a;
  text-align: center;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
}

.testimonials__description {
  margin-top: 20px;
  color: #4f5665;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.testimonails__box {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 359px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 2px solid #f53838;
  background-color: #fff;
}

.testimonial__box-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__content {
  width: 182px;
  margin-left: 20px;
}

.testimonials__profiles-image {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.testimonials__content-title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
}

.testimonials__content-title-country {
  color: #4f5665;
  font-size: 14px;
  font-weight: 400;
}

.testimonials__avaliation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.testimonials__avaliation-number {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.testimonials__avaliation-image {
  width: 16px;
}

.testimonials__avaliation-text {
  margin-top: 27px;
  color: #0b132a;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.subscribe__container {
  position: absolute;
  top: -120px;
  left: 150px;
  right: 150px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 58px;
  padding-bottom: 58px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0px 30px 50px 0px rgba(13, 16, 37, 0.08);
}

.subscribe__text {
  width: 35%;
}

.subcsribe__title {
  width: 371px;
  color: #0b132a;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
}

.subscribe__title-description {
  margin-top: 20px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}

.button__subscribe {
  width: 250px;
  height: 60px;
  color: #fff;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  background-color: #f53838;
  border: 1px solid #ddd;
  box-shadow: 0px 30px 50px rgba(245, 56, 56, 0.35);
}

.footer {
  position: relative;
  margin-top: 260px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #f8f8f8;
}

.footer__container-menuinfo {
  padding-top: 180px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer__info {
  width: 23%;
}

.footer__container-title {
  width: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__title-detail {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 700;
}

.footer__logo-image {
  width: 35px;
}

.footer__info-title-description {
  width: 340px;
  margin-top: 26px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer__info-title-description-detail {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 500;
}

.footer__image-social {
  margin-top: 30px;
  width: 140px;
}

.footer__menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.footer__menu-title {
  color: #0b132a;
  margin-bottom: 20px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
}

.footer__menu-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.footer__menu-list {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
}
